<?xml version="1.0" encoding="utf-8"?>
<!--
此文件由 Web 项目的发布/打包过程使用。可以通过编辑此 MSBuild 文件
自定义此过程的行为。为了解与此相关的更多内容，请访问 https://go.microsoft.com/fwlink/?LinkID=208121。 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/61934b68-1315-4fc4-a2dc-d11c93305a87/resourceGroups/MobileCloudAppDemo/providers/Microsoft.Web/sites/MobileCloudAppDemo</ResourceId>
    <ResourceGroup>MobileCloudAppDemo</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://mobilecloudappdemo.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>mobilecloudappdemo.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MobileCloudAppDemo</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MobileCloudAppDemo</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MS_TableConnectionString" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:mysqlserver-1.database.windows.net,1433;Initial Catalog=Database_test_01;User ID=username;Password=password-1234" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="MobileCloudAppDemoService.Models.MobileCloudAppDemoContext, MobileCloudAppDemoService" MigrationConfiguration="MobileCloudAppDemoService.Migrations.Configuration, MobileCloudAppDemoService" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="MS_TableConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=tcp:mysqlserver-1.database.windows.net,1433;Initial Catalog=Database_test_01;User ID=username;Password=password-1234</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>